<div>
  <h3>About Us</h3>
  <img ng-src="../sine_wave.jpg" />
  <p>
    For more than 20 years, Power BackUPSolutions has worked with resellers 
    nationwide to provide the highest quality UPS solutions. While the 
    company's focus has long been working with IBM business partners, 
    Power BackUPSolutions also takes pride in serving other VAR 
    organizations across the U.S. At the helm of Power BackUPSolutions 
    is Mike Sermersheim, a seasoned sales professional with more than 30 
    years of experience in sales and management with IBM, United Technologies, 
    and Bell and Howell.
  </p>
  <h5>Mission Statement</h5>
  <p>
    Our mission is to provide professional power backup solutions for large 
    and small data centers. Designed to meet both the current and future 
    requirements of our customers, the solutions we supply are built to last, 
    competitively priced, and include excellent customer service long after 
    the installation is complete.
  </p>
</div>