<div class="container">
    <div class="row nav">
        <div class="col-md-12">
            <main-navigator />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <a href="/"><img href='/' ng-src="../pbups_logo.png" alt="Power BackUPSolutions Logo"/></a>
        </div>
        <div class="col-md-4">
            <user-status />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ui-view />
        </div>
    </div>
</div>
