<div>
  <h3>Welcome to Power BackUPSolutions</h3>
  <img ng-src="../sine_wave.jpg" />
  <p>
    A reliable power protection solution is the cornerstone to your
    customers' ability to achieve high availability. For more than 
    20 years, Power BackUPSolutions has been helping Value Added 
    Resellers (VARs) safeguard their clients' critical equipment in 
    environments ranging from small offices to Fortune 500 data centers.
  </p>
  <p>
    Power BackUPSolutions offers industry-leading power quality 
    products designed to protect your clients' business, data, resources 
    and profitability. Even more, we complement these exceptional products 
    with an unparalleled level of customer service, knowledge and expertise, 
    not to mention very attractive price points to increase your profit 
    margins.
  </p>
  <h5>Why do your customers need power protection?</h5>
  <p>
    A high-quality power protection solution is among the most cost-effective measures to prevent downtime. With the ability to cause irreparable damage and irretrievable loss of revenue, an unexpected loss of power can be crippling to an organization. Power outages, surges and spikes are estimated to ring up more than $150 billion in annual damages to the U.S. economy. And according to Dunn & Bradstreet, 59 percent of Fortune 500 companies experience at least 1.6 hours of downtime per week.
  </p>
  <p>
    While downtime costs vary by industry and by the scale of business operations, some of the negative consequences include lost transaction revenue, wages and inventory; remedial labor costs; marketing costs; bank fees; and legal penalties from not delivering on service level agreements. And don’t forget the damages resulting from missed business opportunities; decreases in stock value; loss of customer/partner goodwill; brand damage; driving business to competitors; and bad publicity/press.
  </p>
  <h5>Let Power BackUPSolutions help you safeguard your customers' organizations against the devastation of downtime today!</h5>
</div>