<div>
    <h3>Products &amp; Services</h3>
    <img ng-src="../sine_wave.jpg" />
    <p>We are proud to offer the following products:</p>
    <div>
        <products-navigator />
    </div>
    <h5>Comprehensive Power Protection Solutions & Services</h5>
    <p>
      With a long-standing commitment to power quality, Power BackUPSolutions 
      custom-tailors a complete power protection solution to meet the 
      individual needs of your business. From small office environments to 
      Fortune 500 companies, the solutions we provide enhance uptime, extend 
      equipment life, and optimize return on investment.
    </p>
    <p>Our services include:</p>
    <ul>
        <li>UPS upgrade and replacement</li>
        <li>Evaluation of data center loads and backup requirements</li>
        <li>UPS consolidation for current and future requirements</li>
        <li>New data center design including HVAC, electrical, UPS and generator requirements</li>
        <li>Generator backup solutions</li>
    </ul>
    <p>
        Power BackUPSolutions has chosen to align itself exclusively with Eaton, 
        as the power protection brand is the finest in the industry in terms of 
        reliability, performance, technical specifications, customer service, 
        warranty and return on investment.
    </p>
</div>