<div>
  <h3>Save Money, Improve Uptime With UPS Consolidation</h3>
  <img ng-src="../sine_wave.jpg" />
  <p>
    Power BackUPSolutions specializes in the consolidation of uninterruptible 
    power systems (UPSs), which helps organizations to significantly enhance 
    efficiency, achieve cost savings and improve business continuity during power 
    outages. By incorporating modular and scalable UPSs that grow with a company, 
    consolidation optimizes your power protection investment and makes better use of 
    UPS resources.
  </p>
  <h5>Why Consolidate?</h5>
  <ul>
    <li>Modular, scalable power protection solution grows with your organization</li>
    <li>Pay-as-you-grow approach enables you to start as small as 3kVA and expand over time</li>
    <li>Eliminates the need to purchase a second, more costly UPS when your capacity requirements increase</li>
    <li>Facilitates easier management through centralized solution</li>
    <li>Improves overall reliability and uptime</li>
    <li>Reduces cooling requirements</li>
  </ul>
  <p>
    Conversely, when companies take a segmented approach to data center upgrade 
    planning —purchasing UPSs only as equipment is added —a number of problems can 
    arise. As time goes on, this method often leaves data center managers with 
    inefficient power systems that are difficult to maintain and daunting to improve. 
    Decentralized UPS installations also tend to strand capacity, resulting in more 
    UPSs than are needed while increasing the amount of heat produced, which in turn 
    necessitates additional cooling. Furthermore, without a reliable method of monitoring 
    and managing the battery life of the multitude of small UPSs, when a power outage 
    occurs, the connected equipment is likely to crash if the batteries are dead or 
    weak — resulting in costly and potentially devastating downtime.
  </p>
  <span><a href><h5>Contact us today to learn more about UPS Consolidation!</h5></a></span>
</div>